%h1 Delete movies according to rating

= form_tag delRatings_movies_path, :method => :put do

  = label :movie, :rating, 'Choose Rating to Delete'
  = select :movie, :rating, ['G','R','PG','PG-13','NC-17']
  
  = submit_tag 'Delete'